/* Hide the page title in a modern page */
div[data-automation-id='pageHeader'] {
    display: none;
}
/* Color match the accordion button */
.bs .accordion-button {
    background-color: rgba(0, 0, 0, 0.05);
}
/* Fix button text size */
.bs .btn-icon {
    font-size: 0.875rem;
}
/* Set styling for navbar-sub */
.navbar-sub {
    background-color: rgba(0, 0, 0, 0.05);
    border: 3px solid #dee2e6;
    border-top: 0;
    border-radius: 0 0 0.25rem 0.25rem;
    margin-bottom: 0.25rem;
}
/* Fix icon alignment inside nav item buttons */
#navbar_content ul.navbar-nav li.nav-item a.btn svg {
    margin: 0 0.25rem 0.1rem -0.25rem;
}